<html>
<body>
{{>template_barra_navegacion_general}}
<h1>Panel de usuario</h1>

{{#usuario_seleccionado}}
<div class="navpanelusuario">
    <a href="/panel-usuario/{{id}}/informacion">Información</a>
    {{#es_propietario_panel}}
    <a href="/panel-usuario/{{id}}/listas">Mis listas</a>
    <a href="/panel-usuario/{{id}}/ofertas">Mis ofertas</a>
    {{/es_propietario_panel}}
    <a href="/panel-usuario/{{id}}/valoraciones">Valoraciones</a>
    {{#es_propietario_panel}}
    <form method="POST" action="/logout">
        <input type="hidden" name="_csrf" value="{{token}}"/>
        <input type="submit" value="Logout">
    </form>
    {{/es_propietario_panel}}
</div>
{{/usuario_seleccionado}}


</body>
</html>