<html>
<body>

{{>templates_panel_usuario/template_barra_navegacion_panel_usuario}}

<h2>Mis listas</h2>



<table>
<tr>
	<td>Id</td>
	<td>Nombre</td>
</tr>
{{#lista_listas}}
<tr>
	<form method="POST", action="/borrar-lista/{{id}}">
	<input type="hidden" value="{{id}}" name="id">
    <td><a href="/detalles-lista/{{id}}">{{id}}</a></td>
    <td>{{nombre}}</td>
    <td><input type="submit", value="borrar"></td>
    </form>
 </tr>
{{/lista_listas}}

</table>

<form method="POST", action="/panel-usuario/{{id}}/listas/crear-lista">
<input type="text", name="input_nombre">
<input type="submit", value="Crear lista">
</form>

</body>
</html>