<html>
<body>
{{>template_barra_navegacion_general}}
<h1>Buscador ofertas</h1>

<form method="POST", action="/buscador-ofertas">
<input type="text", name="input_texto">
<input type="submit", value="Buscar">
</form>

<table>
<tr>
	<td>Id</td>
	<td>Titulo</td>
	<td>Precio</td>
	<td>Creador</td>
</tr>
{{#lista_ofertas}}
  <tr>
    <td><a href="/detalles-oferta/{{id}}">{{id}}</a></td>
    <td>{{titulo}}</td>
    <td>{{precio}}</td>
    <td>{{nombreUsu}}</td>
  </tr>
{{/lista_ofertas}}
</table>
</body>
</html>
