<html>
<body>
{{>template_barra_navegacion_general}}
<h1>Detalles oferta</h1>
{{#oferta_seleccionada}}
<table>
   <tr>
   	<td>Titulo: </td>
   	<td>{{titulo}}</td>
   </tr> 
   <tr>
   	<td>Precio: </td>
   	<td>{{precio}}</td>
   </tr>
   <tr>
   	<td>Categoria: </td>
   	<td>{{categoria}}</td>
   </tr>
   <tr>
   	<td>Creador: </td>
   	<td>{{usuarioCreador}}</td>
   </tr>
   <tr>
   	<td>Fecha de creacion: </td>
   	<td>{{fechaCreacion}}</td>
   </tr>
   <tr>
   	<td>Usu: </td>
   	<td>{{nombreUsu}}</td>
   </tr>
</table>

<form method="POST", action="/anyadir-lista/{id}"> 

<input type="hidden" value="{{id}}" name="id_oferta">

<select name="input_categoria">
  {{#lista_listas}}
  <option value="{{nombre}}">{{nombre}}</option>
  {{/lista_listas}}
</select>


<input type="submit", value="Añadir">
</form>

<!-- Sirve para ocultar al vendedor la opcion de compra {{#mostrar}} -->
<form method="POST", action="/confirmacion-compra/{id}"> 
<input type="hidden" value="{{id}}" name="id_oferta">
<input type="submit", value="Comprar">
</form>
<!-- Sirve para ocultar al vendedor la opcion de compra {{/mostrar}} -->

{{#borrado}}
<form method="POST", action="/editar-oferta/{id}"> 
<input type="hidden" value="{{id}}" name="id_oferta">
<input type="submit", value="Editar">
</form>
<form method="POST", action="/borrar-oferta/{id}"> 
<input type="hidden" value="{{id}}" name="id_oferta">
<input type="submit", value="Borrar">
</form>
{{/borrado}}

{{/oferta_seleccionada}}

</body>
</html>
