<html>
<body>
{{>template_barra_navegacion_general}}
<h1>Detalles lista {{nombre}}</h1>
<table>
<tr>
	<td>Id</td>
	<td>Titulo</td>
</tr>
{{#lista_oferta}}
  <tr>
  	<form method="POST", action="/borrar-elemento/{{id_lista}}">
  	<input type="hidden" value="{{id_lista}}" name="id_lista">
  	<input type="hidden" value="{{id}}" name="id_oferta">
    <td><a href="/detalles-oferta/{{id}}", name="id_oferta_table">{{id}}</a></td>
    <td>{{titulo}}</td>
    <td><input type="submit", value="borrar"></td>
	</form>
  </tr>
{{/lista_oferta}}
</body>
</html>